/*
add click area around close X
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Megrim', cursive;
    font-weight: bold;
}
body {
    min-width: 340px;
    display: grid;
    grid-row-gap: 2em;
    padding: 1em 3%;
    background-color: #fefcfa;
}
nav {
    position: fixed;
    left: 5%;
    z-index: 7;
}
button {
    margin: 1em .1em;
    cursor: pointer;
    height: 3em;
    border: 1px solid #777;
    border-radius: 1.5em;
    background-color: #fefcfa;
    padding: 0 1em;
    outline: none;
    font-weight: bold;
}
button.on {
    border: 2px solid rgba(255,0,0,.7);
}
h1 {
    font-size: 2.9em;
    margin-top: 2em;
    text-align: right;
}
h2 {
    font-size: 1.9em;
}
h3 {
    position: relative;
    padding-top: 1em;
    grid-column: 1/-1;
    font-size: 1.7em;
    margin-bottom: 1em;
    height: 4em;
    cursor: s-resize;
    filter: contrast(3) saturate(1.8) sepia(.6);
}
h3.cursor {
    cursor: n-resize;
}
h3 p {
    position: absolute;
    top: 4em;
    color: #333;
}
h4 {
    font-size: 1.3em;
}
#category-list {
    margin: 2em 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2em;
    position: relative;
}
.category {
    height: 9em;
    overflow: hidden;
    display: grid;
    grid-template-rows: 9em auto;
}
.category.expand {
    height: auto;
    grid-template-rows: auto auto;
}
.course-list {
    display: grid;
}
.course {
    margin: 2em;
    border: 2px solid #333;
    display: grid;
    padding: 1em;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    align-items: flex-end;
}
.course h4 {
    grid-row: 1/2;
    z-index: 3;
}
.course-intro {
    display: grid;
    grid-auto-rows: minmax(2em, auto);
}
p.read-more {
    font-size: 13px;
    cursor: pointer;
}
.course img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 3 / 4;
    z-index: 2;
}
.long-description {
    grid-column: 1/-1;
    grid-row: 3 / 4;
    max-height: 53vw; /* bad solution */
    overflow-y: scroll;
    width: 90%;
    margin: 5%;
    padding: 5%;
    background-color: rgba(255,255,255,.7);
    z-index: 1;
}
.long-description p:nth-of-type(2){
    font-size: .9em;
}
p.close-read-more {
    cursor: pointer;
    font-size: 23px;
    margin: 0 0 5% 0;
}
.extra-info {
    border-right: 1px solid #777;
}
@media screen and (min-width: 560px) {
    body {
        padding: 5% 5% 0 5%;
    }
    h1 {
        margin-top: 1em;
    }
    .course {
        grid-template-columns: 2fr 5fr;
        grid-template-rows: 2em auto 2em 2em;
        border-bottom: none;
    }
    .course h4 {
        grid-column: 1/-1;
    }
    .course-intro, .price, .extra-info {
        grid-column: 1/2;
    }
    .course img, .long-description {
        grid-column: 2/-1;
        grid-row: 2/-1;
    }
}

@media screen and (min-width: 960px) {
    nav {
        left: auto;
        right: 5%;
    }
    button {
        margin-top: 13em;
        text-align: right;
    }
    h1 {
        font-size: 3.5em;
        margin-top: 0;
        height: 2em;
    }
    #category-list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 4em;
    }
    .course {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        border-bottom: 1px solid #777;
    }
    .course h4, .course-intro, .price, .extra-info {
        grid-column: 1/-1;
    }
    .course img, .long-description {
        grid-column: 1/-1;
        grid-row: 3/4;
    }
}

@media screen and (min-width: 1200px) {
    .course {
        grid-template-columns: 2fr 5fr;
        grid-template-rows: 2em auto 2em 2em;
        border-bottom: none;
    }
    .course h4 {
        grid-column: 1/-1;
    }
    .course-intro, .price, .extra-info {
        grid-column: 1/2;
    }
    .course img, .long-description {
        grid-column: 2/-1;
        grid-row: 2/-1;
    }
}

@media screen and (min-width: 1440px) {
    body {
        width: 1440px;
        margin: 0 auto;
    }
}
